[submodule "sites/all/modules/admin_menu"]
	path = sites/all/modules/admin_menu
	url = git://git.drupal.org/project/admin_menu.git
[submodule "sites/all/modules/module_filter"]
	path = sites/all/modules/module_filter
	url = git://git.drupal.org/project/module_filter.git
[submodule "sites/all/modules/ctools"]
	path = sites/all/modules/ctools
	url = git://git.drupal.org/project/ctools.git
[submodule "sites/all/modules/views"]
	path = sites/all/modules/views
	url = git://git.drupal.org/project/views.git
[submodule "sites/all/modules/taxonomy_menu"]
	path = sites/all/modules/taxonomy_menu
	url = git://git.drupal.org/project/taxonomy_menu.git
[submodule "sites/all/modules/nice_menus"]
	path = sites/all/modules/nice_menus
	url = git://git.drupal.org/project/nice_menus.git
[submodule "sites/all/modules/devel"]
	path = sites/all/modules/devel
	url = git://git.drupal.org/project/devel.git
[submodule "sites/all/modules/views_bulk_operations"]
	path = sites/all/modules/views_bulk_operations
	url = git://git.drupal.org/project/views_bulk_operations.git
[submodule "sites/all/themes/corolla"]
	path = sites/all/themes/corolla
	url = git://git.drupal.org/project/corolla.git
[submodule "sites/all/themes/danland"]
	path = sites/all/themes/danland
	url = git://git.drupal.org/project/danland.git
[submodule "sites/all/themes/bluemasters"]
	path = sites/all/themes/bluemasters
	url = git://git.drupal.org/project/bluemasters.git
[submodule "sites/all/modules/sweaver"]
	path = sites/all/modules/sweaver
	url = git://git.drupal.org/project/sweaver.git
[submodule "sites/all/modules/views_slideshow"]
	path = sites/all/modules/views_slideshow
	url = git://git.drupal.org/project/views_slideshow.git
[submodule "sites/all/themes/omega"]
	path = sites/all/themes/omega
	url = git://git.drupal.org/project/omega.git
[submodule "sites/all/modules/libraries"]
	path = sites/all/modules/libraries
	url = git://git.drupal.org/project/libraries.git
[submodule "sites/all/modules/wysiwyg"]
	path = sites/all/modules/wysiwyg
	url = git://git.drupal.org/project/wysiwyg.git
[submodule "sites/all/modules/auto_nodetitle"]
	path = sites/all/modules/auto_nodetitle
	url = git://git.drupal.org/project/auto_nodetitle.git
[submodule "sites/all/modules/token"]
	path = sites/all/modules/token
	url = git://git.drupal.org/project/token.git
[submodule "sites/all/modules/references"]
	path = sites/all/modules/references
	url = git://git.drupal.org/project/references.git
[submodule "sites/all/modules/advanced_help"]
	path = sites/all/modules/advanced_help
	url = git://git.drupal.org/project/advanced_help.git
[submodule "sites/all/modules/backup_migrate"]
	path = sites/all/modules/backup_migrate
	url = git://git.drupal.org/project/backup_migrate.git
[submodule "sites/all/modules/colorbox"]
	path = sites/all/modules/colorbox
	url = git://git.drupal.org/project/colorbox.git
[submodule "sites/all/modules/menu_block"]
	path = sites/all/modules/menu_block
	url = git://git.drupal.org/project/menu_block.git
[submodule "sites/all/modules/dhtml_menu"]
	path = sites/all/modules/dhtml_menu
	url = git://git.drupal.org/project/dhtml_menu.git
[submodule "sites/all/themes/beta"]
	path = sites/all/themes/beta
	url = git://git.drupal.org/project/beta.git
[submodule "sites/all/modules/nodequeue"]
	path = sites/all/modules/nodequeue
	url = git://git.drupal.org/project/nodequeue.git
[submodule "sites/all/modules/pathauto"]
	path = sites/all/modules/pathauto
	url = git://git.drupal.org/project/pathauto.git
[submodule "sites/all/modules/fontyourface"]
	path = sites/all/modules/fontyourface
	url = git://git.drupal.org/project/fontyourface.git
[submodule "sites/all/modules/imagecache_actions"]
	path = sites/all/modules/imagecache_actions
	url = git://git.drupal.org/project/imagecache_actions.git
