@media all and (min-width: 740px) and (min-device-width: 740px), (max-device-width: 800px) and (min-width: 740px) and (orientation:landscape) {
  /* Restyle Branding zone */
  h1.site-title a, h2.site-title a {
    font-size: 1.5em;
    line-height: 1.3em;
  }
  .site-slogan {
    display: block;
  }
  #content-container {
    padding: 10px 0 0 0;
  }
  #menu-outer-wrapper,
  #header-outer-wrapper,
  #preface-outer-wrapper,
  #location-outer-wrapper,
  #content-outer-wrapper,
  #status-outer-wrapper {
    width: 760px;
    margin: 0 auto;
  }
}